/* =========================
   ログインとサインアップ　UI
========================= */

/* =========================
   サインアップ画面　UI
========================= */




.signupform2{   
    position: absolute;
    display: flex;
    width: 450px;  
    height: auto;
    flex-direction: column;     
    background: #c6c6c6;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 300px;
    
}

.signup-button{
    
    text-decoration: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #555;
    
    display: flex;
    align-items: center;
    justify-content: center;


}

.textTitle{
  position: absolute;
  color: aliceblue;
  font-size: 25px;
  top: 100px;
  margin-top: 180px;
  left: 50%;
  transform: translateX(-50%);


}

/* =========================
   ログイン画面 UI
========================= */




/* =========================
   メール登録画面　UI
========================= */

.foam-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
}

.foam-screen2{
  background: #b2afaf;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}



.email-signup-title{
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #666666;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border: 4px solid #8d39d6;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 15px;
}
input:focus {
  border-color: #a83bec;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #8d39d6;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 19px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #a83bec;
}



/* ===== スマホ用 ===== */
@media (max-width: 600px) {

.signupform2{   
    
    width: 100%;  
    left: 0px;
    transform: translateX(0%);
    margin-top: 200px;
    
    
}
.textTitle{
  position: absolute;
  color: aliceblue;
  font-size: 20px;
  top: 100px;
  margin-top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.email-signup{
    position: absolute;
    width: 100%;
    height: 600px;
    background: #7c7482	;
    top: 60px;
    border-radius: 10px;
    overflow: hidden;
}






 

}